:root {
    --navbar-height: 64px;
}

a {
    text-decoration: none;
}

#hero {
    height: 770px;
    background-image: url("src/assets/homepage_cover.png");
    background-repeat: "no-repeat";
}

.api-card {
    height: 80px;
}

.footer {
    /* height: 300px; */
    color: white;
    margin-top: 3rem;
}

.overflowY-auto {
    overflow-y: auto;
}

.apiInfoPage-height {
    height: calc(100vh - var(--navbar-height));
}